.grid {
  display: grid;
}

.f {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-column {
    flex-direction: column;
  }
}

.site-grid {
  grid-template-columns: 100px auto 100px;
  grid-template-rows: auto;
  grid-template-areas:
    '. navigation .'
    '. content .';

  &-navigation {
    grid-area: navigation;
  }
  &-content {
    grid-area: content;
  }
}

.rectangle {
  width: 50vw;
  height: 20%;
  background-color: var(--bg-color);
  position: absolute;
  z-index: var(--after-max);

  &-header {
    top: 10%;
    right: -100px;
  }

  &-showcase {
    top: 10%;
    left: -100px;
  }
}
