@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500&display=swap");
:root {
  --text-color-one: #4b4b4b;
  --text-color-one-thin: #4B4B4B80;
  --text-color-two: #737373;
  --text-color-one-rgba: rgba(75, 75, 75, 0.5);
  --header-background: rgba(255, 255, 255, 0.78);
  --body-color: #fff;
  --bg-color: #faf4ef;
  --bg-color-rgba: rgba(250, 244, 239, 0.5);
  --btn-2-cbg-color: #ffffff;
  --body-font: "Roboto", sans-serif;
  --dm-font: "DM Serif Display", serif;
  --normal-font-size: 1.5rem;
  --big-font-size: 2.25rem;
  --headers-font-size: 4rem;
  --logo-font-size: 36px;
  --font-medium: 400;
  --font-semi-bold: 500;
  --after-max: -5;
  --after: -1;
  --before: 10;
  --before-max: 20;
  --media-normal: 1150px;
  --media-small-normal: 975px;
  --media-small: 800px;
  --media-smaller: 625px;
  --media-font-standard: 100%;
  --media-font-normal: 90.625%;
  --media-font-small-normal: 84.375%;
  --media-font-small: 78.125%;
  --media-font-smaller: 71.875%;
  --section-top-margin: 10rem;
  --icon-size: 26px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--media-font-standard);
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1150px) {
  html {
    font-size: var(--media-font-normal);
  }
}
@media only screen and (max-width: 975px) {
  html {
    font-size: var(--media-font-small-normal);
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: var(--media-font-small);
  }
}
@media only screen and (max-width: 625px) {
  html {
    font-size: var(--media-font-smaller);
  }
}
body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color-one);
  overflow-x: hidden;
  flex-direction: column;
}

main {
  flex-direction: column;
}
main > * {
  max-width: 90%;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color-one);
  font-weight: var(--font-semi-bold);
}

h2 {
  font-size: var(--headers-font-size);
  font-family: var(--dm-font);
}

p {
  color: var(--text-color-two);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: transparent;
}

section {
  margin-top: var(--section-top-margin);
}

.grid {
  display: grid;
}

.f {
  display: flex;
}
.f-center {
  justify-content: center;
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-column {
  flex-direction: column;
}

.dis-block {
  display: block;
}

.dis-none {
  display: none;
}

.site-grid {
  grid-template-columns: 6.25rem auto 6.25rem;
  grid-template-rows: auto;
  grid-template-areas: ". navigation ." ". content .";
}
@media only screen and (max-width: 800px) {
  .site-grid {
    grid-template-columns: 6.25rem auto 6.25rem;
    grid-template-areas: ". navigation ." ". content .";
  }
}
.site-grid-navigation {
  grid-area: navigation;
}
.site-grid-content {
  grid-area: content;
}

.rectangle {
  width: 50vw;
  height: 20%;
  background-color: var(--bg-color);
  position: absolute;
  z-index: var(--after-max);
}
.rectangle-header {
  top: 10%;
  right: -100px;
}
.rectangle-showcase {
  top: 10%;
  left: -100px;
}

.navigation {
  width: 90%;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  color: var(--text-color-one);
}
.navigation-small {
  display: none;
}
.navigation-burger label {
  display: none;
}
.navigation-burger ul > *:not(:last-child) {
  margin-right: 60px;
}
.navigation .buttons > *:first-child {
  margin-right: 15px;
}
@media only screen and (max-width: 800px) {
  .navigation {
    width: 90%;
    justify-content: space-between;
    z-index: 500;
    padding: 0;
  }
  .navigation .buttons {
    margin-right: 60px;
  }
  .navigation-burger {
    position: fixed;
    top: -35px;
    right: 25px;
    margin-top: 46px;
    display: flex;
  }
  .navigation-burger nav {
    width: 180px;
    height: 280px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: 3px 3px 5px var(--bg-color-rgba);
    z-index: 500;
    top: 0;
    right: 0;
  }
  .navigation-burger nav ul {
    margin-top: 45px;
    flex-direction: column;
    width: 100%;
    height: 87%;
    justify-content: space-around;
    align-items: center;
  }
  .navigation-burger nav ul > *:not(:last-child) {
    margin-right: 0;
  }
  .navigation label {
    z-index: var(--before-max);
    display: flex;
    flex-direction: column;
    width: 45px;
    cursor: pointer;
  }
  .navigation label span {
    background: var(--text-color-one);
    border-radius: 10px;
    height: 4px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .navigation label span:nth-of-type(1) {
    width: 50%;
  }
  .navigation label span:nth-of-type(2) {
    width: 100%;
  }
  .navigation label span:nth-of-type(3) {
    width: 75%;
  }
  .navigation label input[type=checkbox] {
    display: none;
  }
  .navigation label input[type=checkbox]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px, 0px);
  }
  .navigation label input[type=checkbox]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }
  .navigation label input[type=checkbox]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(19px, -5px) rotatez(45deg);
  }
}

.logo {
  font-family: var(--dm-font);
  font-size: var(--logo-font-size);
}

.btn-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}
.btn-select {
  color: var(--text-color-one);
}
.btn-unselect {
  color: var(--text-color-one-thin);
}
.btn-black {
  background-color: var(--text-color-one);
  color: var(--btn-2-cbg-color);
}
.btn-white {
  background-color: var(--btn-2-cbg-color);
  color: var(--text-color-one);
}
.btn-pad-20 {
  padding: 20px;
}
.btn-showcase {
  background-color: var(--bg-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-showcase svg {
  width: 37px;
  height: 37px;
}

.disable path {
  fill: var(--text-color-one);
}

.no-disable {
  background-color: var(--bg-color-rgba);
}
.no-disable path {
  fill: var(--text-color-one-thin);
}

.header {
  width: 90%;
  height: 80vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}
.header img {
  z-index: var(--after);
  max-width: 75vw;
  max-height: 80vh;
  display: block;
  position: absolute;
  right: 0;
  height: auto;
  top: 0%;
}
.header-content {
  padding: 62px 30px;
  justify-content: center;
  z-index: var(--before);
  bottom: 10%;
  position: absolute;
  background-color: var(--header-background);
  backdrop-filter: blur(19.1667px);
}
@media only screen and (max-width: 975px) {
  .header-content {
    padding: 42px 20px;
  }
}
.header-content p {
  max-width: 80%;
}
.header-content h2 span {
  display: block;
  white-space: nowrap;
}
@media only screen and (max-width: 800px) {
  .header {
    width: 100%;
    height: 90vh;
  }
  .header img {
    position: relative;
    height: 100%;
    right: -30%;
    top: 0;
    max-width: 120vw;
    max-height: 100vh;
    height: auto;
    width: 120vw;
  }
  .header-content {
    bottom: 25%;
    right: 35%;
    padding: 36px 16px;
  }
}
@media only screen and (max-width: 800px) and (max-width: 625px) {
  .header-content {
    padding: 15px 5px;
    right: 20%;
  }
}
@media only screen and (max-width: 800px) and (max-width: 435px) {
  .header-content {
    padding: 15px 5px;
    right: 0%;
  }
}

.products {
  width: 100%;
  height: 100%;
}
.products-menu {
  column-gap: 55px;
  margin-bottom: 86px;
  margin-top: 49px;
}
.products-list {
  gap: 129px 67px;
}
@media only screen and (max-width: 800px) {
  .products-list {
    max-width: 90vw;
    overflow-x: scroll;
    height: 470px;
    overflow-y: hidden;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: grab;
  }
  .products .arrow {
    position: absolute;
    right: 0;
    top: 30px;
    cursor: pointer;
    background-color: var(--bg-color);
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color-one-rgba);
    z-index: var(--before);
    border-radius: 50%;
  }
  .products .arrow::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: var(--text-color-one) transparent transparent transparent;
  }
  .products-menu {
    column-gap: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    background-color: var(--header-background);
    border: 1px solid var(--text-color-one-rgba);
    border-radius: 20px;
    padding: 20px;
    display: none;
    opacity: 0;
    right: 0;
    top: 55px;
    z-index: 20;
  }
  .products-container {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card {
  flex-direction: column;
  position: relative;
  background-color: var(--bg-color);
  border-bottom-left-radius: 50px;
  width: 366px;
  height: 420px;
}
.card span {
  font-family: var(--dm-font);
  margin-left: 46px;
}
.card-title {
  font-size: 2.25rem;
  margin-top: 43px;
  margin-bottom: 5px;
}
.card img {
  position: absolute;
  max-width: 330px;
}
.card-img-1 {
  width: 231px;
  left: 20%;
  right: 20%;
  top: 170px;
}
.card-img-2 {
  width: 299px;
  left: 10%;
  right: 10%;
  top: 185px;
}
.card-img-3 {
  left: 10%;
  right: 10%;
  top: 155px;
}
.card-img-4 {
  left: 5%;
  right: 5%;
  top: 155px;
}
.card-img-5 {
  left: 5%;
  right: 5%;
  top: 220px;
}
.card-img-6 {
  left: 10%;
  right: 10%;
  top: 205px;
}

.showcase {
  width: 100%;
  position: relative;
  column-gap: 68px;
}
.showcase-image {
  width: 100%;
  z-index: 20;
  position: relative;
}
.showcase .pos-r {
  position: relative;
}
.showcase #showcases-list {
  max-width: 100vw;
  overflow: hidden;
}
.showcase-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.showcase-content p {
  margin-top: 25px;
  color: var(--text-color-two);
}
.showcase-buttons {
  position: absolute;
  top: 60%;
  gap: 12px;
}
@media only screen and (max-width: 800px) {
  .showcase {
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 100px;
    width: 100%;
  }
  .showcase img {
    width: 90%;
  }
  .showcase-content {
    margin-top: 50px;
    width: 90%;
    height: 250px;
  }
  .showcase-buttons {
    top: 115% !important;
  }
  .showcase-image {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 975px) {
  .showcase-buttons {
    top: 75%;
  }
}

.contact {
  background-color: var(--bg-color);
  padding: 80px 50px;
  border-radius: 0px 100px 0px 0px;
  margin-bottom: 90px;
}
.contact h2 {
  margin-bottom: 58px;
}
.contact-buttons {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 800px) {
  .contact-buttons {
    flex-direction: column;
  }
}
