@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500&display=swap');

:root {
  --text-color-one: #4b4b4b;
  --text-color-two: #737373;
  --text-color-one-rgba: rgba(75, 75, 75, 0.5);
  --body-color: #e5e5e5;
  --bg-color: #faf4ef;
  --btn-2-cbg-color: #ffffff;

// FONT AND TYPOGRAPHY
--body-font:'Roboto', sans-serif;
--dm-font: 'DM Serif Display', serif;

--normal-font-size: 1.5rem;

// FONT WEIGHT
--font-medium: 400;
--font-semi-bold: 500;
}
