@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500&display=swap');

:root {
  --text-color-one: #4b4b4b;
  --text-color-one-thin: #4B4B4B80;
  --text-color-two: #737373;
  --text-color-one-rgba: rgba(75, 75, 75, 0.5);
  --header-background: rgba(255, 255, 255, 0.78);
  --body-color: #fff;
  --bg-color: #faf4ef;
  --bg-color-rgba: rgba(250, 244, 239, 0.5);;
  --btn-2-cbg-color: #ffffff;

  // FONT AND TYPOGRAPHY
  --body-font: 'Roboto', sans-serif;
  --dm-font: 'DM Serif Display', serif;

  --normal-font-size: 1.5rem;
  --big-font-size: 2.25rem;
  --headers-font-size: 4rem;
  --logo-font-size: 36px;

  // FONT WEIGHT
  --font-medium: 400;
  --font-semi-bold: 500;

  // Z-INDEX
  --after-max: -5;
  --after: -1;
  --before: 10;
  --before-max: 20;

  --media-normal: 1150px;
  --media-small-normal: 975px;
  --media-small: 800px;
  --media-smaller: 625px;

  --media-font-standard: 100%;
  --media-font-normal: 90.625%;
  --media-font-small-normal: 84.375%;
  --media-font-small: 78.125%;
  --media-font-smaller: 71.875%;

  --section-top-margin: 10rem;

  --icon-size: 26px;
}
